In [1]:
import pandas as pd
import os

start_season = '14_15'
end_season = '19_20'
k = 36

In [4]:
# Define the relative path to the directory containing the CSV files
relative_path_to_csvs = "../output"

# Initialize an empty dataframe to store the concatenated data
concatenated_df = pd.DataFrame()

# Loop through each season
for year in range(int(start_season[3:]), int(end_season[3:])):
    # Construct the season identifier for the current year and the next year
    season1 = str(year-1) + "_" + str(year)[-2:]
    season2 = str(year) + "_" + str(year+1)[-2:]

    # Loop through each season identifier and concatenate the data
    for season in [season1, season2]:
        # Construct the filename
        filename = f"{k}_raw_{season}.csv"
        fullpath = os.path.join(relative_path_to_csvs, filename)

        # Read in the data from the file and append it to the concatenated dataframe
        try:
            season_df = pd.read_csv(fullpath)
            concatenated_df = pd.concat([concatenated_df, season_df])
        except FileNotFoundError:
            print(f"Error finding file {filename}")
            pass

# Rename the 'player1' and 'player2' columns to 'source' and 'target', respectively
concatenated_df = concatenated_df.rename(columns={"player1": "source", "player2": "target"})

concatenated_df.head()

           source          target  val_3  val_6   raw  total
0  101106_2014-15  101133_2014-15      0      0  0.16      1
1  101106_2014-15    1889_2014-15      0      0  0.16      1
2  101106_2014-15    2399_2014-15      0      0  0.16      1
3  101106_2014-15    2405_2014-15      1      1  0.33      2
4  101106_2014-15    2419_2014-15      0      0  0.16      1

In [5]:
concatenated_df.shape

(234746, 6)

In [12]:
concatenated_df = concatenated_df.rename(columns={"player1": "source", "player2": "target"})
concatenated_df.head()

           source          target  val_3  val_6   raw  total
0  101106_2014-15  101133_2014-15      0      0  0.16      1
1  101106_2014-15    1889_2014-15      0      0  0.16      1
2  101106_2014-15    2399_2014-15      0      0  0.16      1
3  101106_2014-15    2405_2014-15      1      1  0.33      2
4  101106_2014-15    2419_2014-15      0      0  0.16      1

In [14]:
# save the combined data to a CSV file
concatenated_df.to_csv("output.csv", index=False)